<!doctype html>
<html ng-app="SuperDoc">
  <head>
    <script src="/javascripts/angular-1.0.1.min.js"></script>
    <script src="/javascripts/angular-resource-1.0.1.min.js"></script>

    <%- js('client') %>
    <%- css('style') %>

    <title>SuperDoc</title>
  </head>

  <body ng-controller="SuperDocController">

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">

            <ul class="nav nav-list">
              <li class="nav-header">All Available Modules</li>
              <li ng-repeat="module in moduleList.modules" ng-class="{active: module == selectedModule}" >
                <a href="" ng-click="selectModule(module)"> {{module.name}}@{{module.version}}</a>
              </li>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->


        <!-- page content -->
        <div class="span9" ng-bind-html-unsafe="htmlData"></div>
        <pre class="span9 plainTextContent" ng-bind="textData"> </pre>
          
      </div><!--/row-->

      <hr>

      <footer>
        <p>This is SuperDoc version <%= version %></p>
      </footer>

    </div><!--/.fluid-container-->


  </body>
</html>
