<!doctype html>
<html ng-app="SuperDoc">
<head>
<script src="/javascripts/angular-1.0.1.min.js"></script>
<script src="/javascripts/angular-resource-1.0.1.min.js"></script>
<script src="/javascripts/angular-bootstrap-1.0.1.js"></script>

<%- js('client') %>
<%- css('style') %>

<title>SuperDoc</title>
</head>

<body ng-controller="SuperDocController">

<div class="container-fluid">

  <div class="row-fluid">

    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">

          <li class="nav-header">This Package</li>

          <li ng-class="{active: selectedPackage == project.basePackage}" >
          <a href="#" ng-click="$emit('selectPackage', project.basePackage)"> {{project.basePackage.name}}@{{project.basePackage.version}}</a>
          </li>


          <li class="nav-header">Node</li>
          <li ng-class="{active: selectedPackage == nodeDocs}" >
          <a href="#" ng-click="$emit('selectPackage', nodeDocs)"> node@{{nodeDocs.version}}</a>
          </li>


          <li class="nav-header">Dependencies</li>
          <li ng-repeat="pkg in project.dependencies" ng-class="{active: selectedPackage == pkg}" >
          <a href="#" ng-click="$emit('selectPackage', pkg)">{{pkg.name}}@{{pkg.version}}</a>
          </li>

          <li class="nav-header">This is SuperDoc <%= version %></li>


        </ul>
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span2" ng-show="selectedPackage">
      <ul class="breadcrumb" >

        <li ng-repeat="node in pathToSelectedNode">
        <a ng-click="$emit('goBackToNode', node)">{{node.breadcrumbName()}}</a> <span class="divider">/</span>
        </li>

        <li class="active">{{selectedNode.breadcrumbName()}}</li>

      </ul> 


      <div class="file-list">
        <table>

          <tr ng-repeat="child in selectedNode.children" 
            ng-class="{info: child == selectedFileNode}"
            ng-click="$emit('selectNode', child)">

            <td>{{child.displayName()}}</td>
          </tr>

        </table>
      </div>

    </div>

    <div class="span8 content" ng-include="contentViewer"></div>
  </div>

</div>


</body>
</html>
