<!doctype html>
<html ng-app="SuperDoc">
<head>
<script src="/javascripts/angular-1.0.1.min.js"></script>
<script src="/javascripts/angular-resource-1.0.1.min.js"></script>
<script src="/javascripts/angular-bootstrap-1.0.1.js"></script>

<%- js('client') %>
<%- css('style') %>

<title>SuperDoc</title>
</head>

<body ng-controller="SuperDocController">

<div class="container-fluid">


  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">

        <ul class="nav nav-list">
          <li class="nav-header">This Package</li>
          <li ng-class="{active: selectedPackage == project.basePackage}" >
          <a href="#" ng-click="selectPackage(project.basePackage)"> {{project.basePackage.name}}@{{project.basePackage.version}}</a>
          </li>


          <li class="nav-header">Dependencies</li>
          <li ng-repeat="pak in project.dependencies" ng-class="{active: selectedPackage == pak}" >
          <a href="#" ng-click="selectPackage(pak)"> {{pak.name}}@{{pak.version}}</a>
          </li>

          <li class="divider"></li>
          <li class="nav-header"> This is SuperDoc version <%= version %> </li>

        </ul>
      </div><!--/.well -->
    </div><!--/span-->


    <div class="span9" ng-show="selectedPackage">
      <div class="tabbable" ng-model="activeTabName">

        <div class="tab-pane" title="Readme">
          <!-- page content; only one of these will have content at a time -->
          <div ng-bind-html-unsafe="htmlData"></div>
          <pre class="plainTextContent" ng-bind="textData"></pre>
        </div>

        <div class="tab-pane" title="Package info" ng-include="'packageInfo.html'"> </div>

      </div>
    </div>
  </div><!--/row-->
</div><!--/.fluid-container-->


</body>
</html>
