<!doctype html>
<html ng-app="SuperDoc">
  <head>
    <script src="/javascripts/angular-1.0.1.min.js"></script>
    <script src="/javascripts/angular-resource-1.0.1.min.js"></script>

    <%- js('client') %>
    <%- css('style') %>

    <title>SuperDoc</title>
  </head>

  <body ng-controller="SuperDocController">

    <div class="container-fluid">

      <div class="span3 sidebar-span">
        <div class="well sidebar-nav">

          <ul class="nav nav-list">
            <li class="nav-header">Local Modules</li>
            <li ng-repeat="module in moduleList.modules" ng-class="{active: module == selectedModule}" >
              <a href="" ng-click="selectModule(module)"> {{module.name}}@{{module.version}}</a>
            </li>

          </ul>
        </div><!--/.well -->

      </div><!--/span-->

      <div class="row-fluid">
        <!-- sidebar placeholder -->
        <div class="span3"></div>

        <!-- page content -->
        <div class="span9" >
          <div ng-bind-html-unsafe="htmlData"></div>
          <pre class="plainTextContent" ng-bind="textData"> </pre>
        </div>
          
      </div><!--/row-->

    </div><!--/.fluid-container-->


  </body>
</html>
