<!doctype html>
<html ng-app="SuperDoc">
<head>
<script src="/javascripts/angular-1.0.1.min.js"></script>
<script src="/javascripts/angular-resource-1.0.1.min.js"></script>
<script src="/javascripts/angular-bootstrap-1.0.1.js"></script>

<%- js('client') %>
<%- css('style') %>

<title>SuperDoc</title>
</head>

<body ng-controller="SuperDocController">

<div class="container-fluid">

  <div class="row-fluid">
    <div ng-controller="PanelListViewController">
      <div ng-repeat="panel in panels" ng-include="panel.template"></div>
    </div>
  </div>

</div>

<div ng-include="selectedContentUrl" class="content"></div>

</body>
</html>
