<% // A view that wraps already-rendered markdown html.  Includes a nice stylesheet.  %>

<!doctype html>
<html>
<script src="/javascripts/angular-1.0.1.min.js"></script>
<script src="/javascripts/angular-resource-1.0.1.min.js"></script>
<script src="/javascripts/angular-bootstrap-1.0.1.js"></script>

<%- css('markdownPage') %>

<title>SuperDoc</title>
</head>

<body>
<%- html %>
</body>

</html>

