<div class="doc-list-nav" ng-show="selectedPackage.docs.length > 1">
  <ul class="nav nav-pills doc-tabs">
    <li ng-repeat="doc in selectedPackage.docs" ng-click="selectDoc(doc)" ng-class="{active: selectedDoc == doc}">
    <a href="#">{{doc.name}}</a> 
    </li>
  </ul>
</div>


<iframe ng-show="selectedDoc" class="doc-viewer" ng-class="{'doc-viewer-short': selectedPackage.docs.length > 1}"
  src="{{selectedDoc.url}}"></iframe> 

<div ng-show="!selectedDoc">
  <p></p>
  No documentation found for this package. 
</div>

