<div class="package-list-panel span2" ng-controller="PackageListController" ng-class="{collapsed: selectedContentUrl}">

    <table>
        <tr class="heading"><td>this package</td></tr>

        <tr ng-class="{info: selectedPackage == project.basePackage}" >
          <td ng-click="selectPackage(project.basePackage)"> {{project.basePackage.name}}@{{project.basePackage.version}}</td>
        </tr>
    
    
        <tr class="heading"><td>dependencies</td></tr>
        <tr ng-repeat="pkg in project.dependencies" ng-class="{info: selectedPackage == pkg}" >
          <td ng-click="selectPackage(pkg)">{{pkg.name}}@{{pkg.version}}</td>
        </tr>
    
        <tr class="heading"><td>this is superdoc {{project.appVersion}}</td></tr>
  
    </table>
</div><!--/.well -->

</div><!--/span-->

