@import "../../node_modules/bootstrap/less/bootstrap.less";

@iconSpritePath:          "/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/glyphicons-halflings-white.png";

body {
  padding-top: 9px;
}


.sidebar-nav {
  padding: 9px 0;
}
div.content {
  margin: 20px;
}

div.package-list-panel {
  margin-right: 10px;

  table {
    .table;
    .table-condensed;
    .table-bordered;
    .table-hover;

    background: @grayLighter;

    tr.heading {
      background: white;
      font-variant:small-caps;
      font-weight: bold;
    }
  }
}

div.directory-panel {
  table {
    .table;
    .table-condensed;
    .table-bordered;
    .table-hover;
  }
}

