@import "../../node_modules/bootstrap/less/bootstrap.less";

@iconSpritePath:          "/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/glyphicons-halflings-white.png";

body {
  padding-top: 9px;
}


.sidebar-nav {
  padding: 9px 0;
}

// hack to pull of first heading of the main content so 
// it lines up with the breadcrumbs bar
.content>div>h1:first-child {
  margin-top: -2px;
}

div.file-list {
  table {
    .table;
    .table-condensed;
    .table-bordered;
    .table-hover;
  }
}

pre.plain-text-view {
  background: white;
  border: none;
}
